
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=PT+Mono&family=Play&display=swap" rel="stylesheet">
</head>
<body id="body">
    <h1>URL Shortener</h1>
    <form action="/api/shorturl/new" method="POST">
        <input type="text" name ="original_url" value="http://www.google.com" placeholder="Type in some website">
        <button type="submit">Short!</button>
    </form>
    <footer><a href="tg://resolve?domain=steveblowjobs666">Slava Merkulov Production</a></footer>
</body>
</html>